@{
    Layout = "~/Areas/Mvc/Views/_SessionLayout.cshtml";
}

<h3>Import</h3>

<p class="lead">

    Select a CSV file to import clients into the Address Book

</p>

<form method="post" enctype="multipart/form-data"
    asp-controller="Import"
    asp-action="Import">

    <div class="mb-3 row">

        <label for="importFile" class="col-sm-2 col-form-label">
        
            File
        
        </label>

        <div class="col-sm-10">

            <input type="file" class="form-control" id="importFile" name="fileUpload" accept=".csv">

        </div>

    </div>

        <div class="col-sm-6">

            <button class="btn btn-outline-primary me-auto" type="submit">
            
                Upload

            </button>

        </div>

</form>
