
<h3>Dashboard</h3>

<p class="lead">

    Welcom back Anon

</p>

<ul class="list-group list-group-flush">

  <li class="list-group-item">

      Display a count of how many Clients exist on the system

  </li>

  <li class="list-group-item">

      Display a count of how many times the Data was exported

  </li>

  <li class="list-group-item">

      Display a count of how many external clients have used the api within the last 7 days

  </li>

  <li class="list-group-item">

      Display count of new imported cients

  </li>

</ul>




