<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap-grid.css"/>
        <link rel="stylesheet" type="text/css" href="~/content/site.css"/>
        
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/content/site.js"></script>

        <title>DSG Address Book</title>

    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">

            <div class="container-fluid">

                <a class="navbar-brand">DSG Address Book</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navPanel">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navPanel">

                    <ul class="navbar-nav">

                        <li class="nav-item">

                            <a class="nav-link"
                                asp-controller="Dashboard"
                                asp-action="Index">

                                Dashboard

                            </a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link"
                                asp-controller="ClientList"
                                asp-action="Index">

                                Client list

                            </a>

                        </li>

                    </ul>

                    <ul class="navbar-nav float-end ms-auto">

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">

                                Username/Email

                            </a>

                            <ul class="dropdown-menu" aria-labelledby="userDropdown">

                                <li>
                                    
                                    <a class="dropdown-item">Log out</a>
                                    
                                </li>

                            </ul>

                        </li>

                    </ul>

                </div>

            </div>

        </nav>

        <div class="container">

            @RenderBody()

        </div>

    </body>

</html>